{% extends 'base.html' %}
{% block title %} Estado de las Inversiones{% endblock %}
{% block content %}
<div class="mx-auto" style="width: fit-content;">

	<div id=inversion> <b> Valor invertido:</b> {{ inversion}} €</div>
	<br>
	<div id=valorActual> <b>Valor actual:</b> {{"%.02f"% valoractual|float}} € </div>
	<br>
	<div id=balance> <b>Balance de la inversion:</b> {{"%.02f"% (valoractual-inversion)|float}} € </div>
	<br>
	<form action="/">
		<input type="submit" value="Home" class="btn btn-primary" style="float:right" />
	</form>
</div>
{% endblock %}